html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");
}

h1 {
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
}

/* ===== POKEDEX ===== */
.pokedex {
  background-color: white;
  padding: 20px;
}

.pokedex--load-btn {
  display: block !important;
  margin: 50px auto;
}

/* ===== POKEMON CARD ===== */
.card--link {
  color: inherit;
  text-decoration: none;
}

.card--link:hover {
  color: inherit;
}

.card {
  margin: 10px;
}

.card-img {
  width: 150px !important;
  margin: 0 auto;
}

.card-title {
  text-align: center;
}

.card--pokemon-id {
  text-align: center;
}

.card--pokemon-types {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}

.card--pokemon-type {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: white;
  text-shadow: 0 0 2px black;
  width: 80px;
  height: 30px;
}

/* ===== POKEMON DETAIL ===== */
.detail--container {
  border: 3px solid;
  background-color: white;
  margin: 50px 0;
  padding: 20px;
}

.detail--container h3 {
  margin-top: 30px;
}

.detail--pokemon-info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.detail--pokemon-name-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 50px;
}

.detail--pokemon-name-container > * {
  font-size: 2.5rem;
}

.detail--pokemon-id {
  color: #616161;
  font-size: 2rem;
}

.detail--pokemon-image {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 20px;
  width: 70%;
}

.detail--pokemon-description {
  font-style: italic;
  font-size: 1.2rem;
}

.detail--pokemon-stat {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px 0;
  max-width: 700px;
}
/* progress-bar styling */
@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
.progress-bar {
  animation: loading 0.2s linear;
}
/* ===================== */

.detail--stat-name {
  flex-basis: 10rem;
}

.detail--stat-bar {
  background-color: white !important;
  flex: 1 1 20rem;
  height: 35px !important;
}

.detail--pokemon-types {
  display: flex;
  gap: 10px;
}

.link {
  padding-top: 50px;
  text-align: center;
}

.link a {
  color: inherit;
}
