html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");
}

h1 {
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
}

/* ===== POKEDEX ===== */
.pokedex {
  background-color: white;
  padding: 20px;
}

.pokedex--load-btn {
  display: block !important;
  margin: 50px auto;
}

/* ===== POKEMON CARD ===== */
.card--link {
  color: inherit;
  text-decoration: none;
}

.card--link:hover {
  color: inherit;
}

.card {
  margin: 10px;
}

.card-img-top {
  height: 50vw;
  max-height: 200px;
}

.card-title {
  text-align: center;
}

.card--pokemon-id {
  text-align: center;
}

.card--pokemon-types {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}

.card--pokemon-type {
  border-radius: 5px;
  color: white;
  text-align: center;
  text-shadow: 0 0 2px black;
  width: 80px;
}

/* ===== POKEMON DETAIL ===== */
.detail--pokemon-image {
  width: 80%;
}

.detail--pokemon-description {
  font-style: italic;
  font-size: 1.2rem;
}

.detail--pokemon-stat {
  /* border: 1px solid red; */
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.detail--pokemon-stat span {
  text-align: right;
  flex-basis: 25%;
}
